.home-body{
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/home/bg.png);
    background-size: cover;
    color: $white;
    header{
      text-align: center;
      padding-top: 3px;
      h1{
        margin: 0;
        padding-top: 8px;
        font-size: 4.16em;
        font-weight: 400;
      }
      p{
        margin-top: -7px;
        font-weight: bold;
        font-size: 0.8em;
      }
    }
    main{
      height: calc(100% - 150px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1, h2{
        margin: 2px 0;
        font-family: 'Visby CF Heavy';
      }
      h1{
        font-size: 2.5em;
      }
      h2{
        font-size: 1.7em;
      }
      a{
        @include button-default($blue-d);
      }
    }
    footer{
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-height: 20px;
      font-size: 0.9em;
      color: #fafafa;
      .col-1{
        margin-left: 20px;
      }
      .col-3{
        margin-right: 20px;
        text-align: right;
        font-size: 0.89em;
      }
      p{
        margin: 0;
      }
      ul{
        li{
          display: inline-block;
          font-size: 1.8em;
          margin: 0 5px;
          a:hover{
            color: $white;
          }
        }
      }
    }
  .container{
    height: inherit;
  }
}



