.services-body{
    height: 100%;
    .page-header{
      @media screen and (max-width: $mobile){top: -20px;}
    }
    .container{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: $mobile){
          flex-direction: column;
          width: 95%;
          justify-content: flex-start;
        }
        img{            max-width: 90px;        }
        
        .item{
          width: 250px;
          height: 400px;
          background-color: #ccc;
          border-radius: 3px;
          text-align: center;
          padding-top: 70px;
          position: relative;
          @media screen and (max-width: $mobile){
            margin-bottom: 80px;
            &:first-child{
              margin-top: 100px;
            }
          }
          h2{
            padding: 0 40px;
            margin-top: 10px;
            margin-bottom: 20px;
          }
          p{
            text-align: center;
            padding: 0 30px 0 30px;
            font-size: 1.1em;
            font-family: 'Visby CF Medium';
          }
          a{
            position: absolute;
            bottom: -43px;
            left: 0;
            background-color: #ccc;
            width: inherit;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              font-family: 'Visby CF Heavy';
              font-weight: 900;
              font-size: 0.9em;
            }
          }
          &.item-1{
            @include service-gradient($green-d, $green-l);
            @include service-link($green-l);
          }
          &.item-2{
            @include service-gradient($green-l, $green-d);
            @include service-link($green-d);
          }
          &.item-3{
            @include service-gradient($green-d2, $blue);
            @include service-link($blue);
          }
          &.item-4{
            @include service-gradient($red-l, $red-d);
            @include service-link($red-d);
          }
        }
    }
}