<div class="landing-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>РАЗРАБОТКА LANDING PAGE</h1>
  </header>
  <main>
    <section class="hero">
            <div class="cb-scroller"><span>НЕ УДИВИЛИ?</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="2.5"></circle></svg>
          </div>
        <h1>ЗАКАЖИТЕ СВОЙ LANDING PAGE СЕЙЧАС И ЧЕРЕЗ 7 ДНЕЙ ВЫ ПОЛУЧИТЕ</h1>
        <div class="container">
          <ul>
            <li><i class="fa fa-search"></i> Конкурентный анализ вашего бизнеса</li>
            <li><i class="fa fa-calendar-check-o"></i> Продающий Landing Page</li>
            <li><i class="fa fa-star"></i> Нешаблонный авторский дизайн</li>
            <li><i class="fa fa-bar-chart"></i> Рекламные кампании: AdWords и Yandex.Direct</li>
          </ul>
          <a href="#form"><p>ОСТАВИТЬ ЗАЯВКУ</p></a>
        </div>
    </section>   
  </main>

</div>


<section class="landing landing-tarif tarif">
  <div class="heading">
    <h2>ТАРИФЫ НА РАЗРАБОТКУ ЛЕНДИНГА</h2>
  </div>
      <div class="container">
        <div class="item item-1">
          <div class="item-container">
            <div class="number">1</div>
            <h2>BASIC</h2>
            <hr>
            <ul>
              <li>+ до 5и "экранов"</li>
              <li>+ современный дизайн</li>
              <li>+ высокая конверсия</li>
              <li>+ гарантия качества</li>
              <li>+ копирайтинг</li>
              <li>+ настройка аналитики</li>
              <li>+ мобильная версия</li>
              <li>7 дней до запуска</li>
            </ul>
            <div class="price">600 бел. руб.</div>
          </div>
          <a href="#form"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>

        <div class="item item-2">
          <div class="item-container">
            <div class="number">2</div>
            <h2>STANDART</h2>
            <hr>
            <ul>
              <li>+ до 7и "экранов"</li>
              <li>+ все basic плюсы</li>
              <li>+ настройка контекстной рекламы в google и yandex</li>
              <li>от 7 дней до запуска</li>
            </ul>
            <div class="price">1000 бел. руб.</div>
          </div>
          <a href="#form"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>

        <div class="item item-3">
          <div class="item-container">
            <div class="number">3</div>
            <h2>PREMIUM</h2>
            <hr>
            <ul>
              <li>+ безлимит "экранов"</li>
              <li>+ все standart плюсы</li>
              <li>+ подключение CRM системы Bitrix24</li>
              <li>+ настройка таргетинговой рекламы</li>
              <li>от 7 дней до запуска проекта</li>
            </ul>
            <div class="price">1500 бел. руб.</div>
          </div>
          <a href="#form"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>
      </div>
    </section>


<section class="landing landing-clients clients">
  <div class="heading" style="margin-top: 120px;">
    <h2>НАМ ДОВЕРЯЮТ</h2>
  </div>
  <div class="container client">
    <img src="./assets/images/landing/clients.png" alt="Ростинг, Квадрат, Дорожная азбука, ПИЖОН">
  </div>
</section>


<section class="landing landing-cases cases">
  <div class="heading" style="margin-top: 120px;">
    <h2>НАШИ КЕЙСЫ</h2>
  </div>
  <div class="container">

    <div class="case">
      <div class="col preview">
        <img src="./assets/images/landing/vegcafe-mockup.png">
      </div>
      <div class="col description">
          <h3>Лендинг для кафе</h3>
          <p>
            Наша команда разработала уникальныйлендинг для кафе #1 в Беларуси. Был 
решен ряд сложнейших задач в процессе 
проектирования и разработки лендинга. Лендинг успешно выполняет свою функцию. Конверсия составила 10%.
        </p>
      </div>
    </div>
    <a>ВСЕ КЕЙСЫ</a>

  </div>
</section>



<app-reviews></app-reviews>

<app-contact-form></app-contact-form>