<div class="landing-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>РАЗРАБОТКА LANDING PAGE</h1>
  </header>
  <main>
    <section class="hero">
            <div class="cb-scroller"><span>НЕ УДИВИЛИ?</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="2.5"></circle></svg>
          </div>
        <h1>ЗАКАЖИТЕ СВОЙ LANDING PAGE СЕЙЧАС И ЧЕРЕЗ 7 ДНЕЙ ВЫ ПОЛУЧИТЕ</h1>
        <div class="container">
          <ul>
            <li><i class="fa fa-search"></i> Конкурентный анализ вашего бизнеса</li>
            <li><i class="fa fa-calendar-check-o"></i> Продающий Landing Page</li>
            <li><i class="fa fa-star"></i> Нешаблонный авторский дизайн</li>
            <li><i class="fa fa-bar-chart"></i> Рекламные кампании: AdWords и Yandex.Direct</li>
          </ul>
          <a class="anchor" onclick="scrollToAnchor();"><p>ОСТАВИТЬ ЗАЯВКУ</p></a>
        </div>
    </section>   
  </main>

</div>

<section class="landing landing-about">
  <div class="heading" style="margin-top: 120px;">
    <h2>ПОЧЕМУ LANDING PAGE?</h2>
  </div>
  <div class="container">
    <div class="lp-about">
      <div class="col">
        <img src="./assets/images/landing/lp.png" alt="Landing Page">
      </div>
      <div class="col">
        <h3>LANDING PAGE - ЭТО</h3>
        <p>
          (также посадочная страница) - это страница, сновной задачей которой является сбор контактных данных целевой 
          аудитории. Используется для усиления эффективности рекламы, увеличения аудитории. Целевая страница обычно
          содержит информацию о товаре или услуге.
        </p>
      </div>
    </div> <!--lp-about-->

    <div class="lp-for">
      <h3>Landing page идеально подойдет для:</h3>
      <div class="items">
        <div class="item">
          <img src="./assets/images/landing/1.png">
          <p>
            Розничной и оптовой торговли
          </p>
        </div>
        <div class="item">
          <img src="./assets/images/landing/2.png">
          <p>
            Сферы услуг
          </p>
        </div>
        <div class="item">
          <img src="./assets/images/landing/3.png">
          <p>
            Производителей
          </p>
        </div>
        <div class="item">
          <img src="./assets/images/landing/4.png">
          <p>
            Уникального или дорогого товара
          </p>
        </div>
        <div class="item">
          <img src="./assets/images/landing/5.png">
          <p>
            Обучающих программ
          </p>
        </div>
      </div>
    </div><!-- /.lp-for -->

  </div> <!--container-end-->
</section>


<section class="landing landing-cases cases">
  <div class="heading" style="margin-top: 120px;">
    <h2>НАШИ КЕЙСЫ</h2>
  </div>
  <div class="container" id="landing-cases-slider">

    <div class="case-container">
      <div class="case">
        <div class="col preview">
          <img src="./assets/images/landing/rosting.png">
        </div>
        <div class="col description">
            <h3><a href="http://bulgaria.rosting.by" style="background-color: inherit" target="_blank" rel="noopener noreferrer">Туры в Болгарию</a></h3>
            <p>
              Landing Page - раннее бронирование туров в Болгарию. Имеет яркий, сочный дизайн, который позволяет достигать высокой конверсии.
            </p>
            <div class="stats">
              <div class="stat">
                <span>
                  ≈8.6
                </span>
                <p>КОНВЕРСИЯ %</p>
              </div>
              <div class="stat">
                <span>
                  ≈34
                </span>
                <p>ЗАЯВОК В ДЕНЬ</p>
              </div>
              <div class="stat">
                <span>
                  12
                </span>
                <p>СРОК ОКУПА-<br>ЕМОСТИ ДНЕЙ</p>
              </div>
              
            </div> <!--STATS END-->
        </div> <!--COL END-->
        </div>  <!--CASE END-->
    </div> <!--CASE-CONTAINER END-->

    <div class="case-container">
      <div class="case">
        <div class="col preview">
          <img src="./assets/images/landing/school.png">
        </div>
        <div class="col description">
            <h3><a href="http://lp.ada.by" style="background-color: inherit" target="_blank" rel="noopener noreferrer">Обучение в автошколе</a></h3>
            <p>
              Уникальный LP Автошколе Дорожная Азбука. Воплотили все пожелания Заказчика качественно и в срок. Сайт успешно
приводит новых клиентов.
            </p>
            <div class="stats">
              <div class="stat">
                <span>
                  <i class="fa fa-clock-o"></i>
                </span>
                <p>КОНВЕРСИЯ %</p>
              </div>
              <div class="stat">
                <span>
                  ≈21
                </span>
                <p>ЗАЯВОК В ДЕНЬ</p>
              </div>
              <div class="stat">
                <span>
                  7
                </span>
                <p>СРОК ОКУПА-<br>ЕМОСТИ ДНЕЙ</p>
              </div> 
            </div> <!--STATS END-->
        </div> <!--COL END-->
        </div>  <!--CASE END-->
    </div> <!--CASE-CONTAINER END-->

    <div class="case-container">
      <div class="case">
        <div class="col preview">
          <img src="./assets/images/landing/visa.png">
        </div>
        <div class="col description">
            <h3><a href="http://visa.rosting.by" style="background-color: inherit" target="_blank" rel="noopener noreferrer">Визовые услуги</a></h3>
            <p>
              Landing Page, созданный с использованием JavaScript фреймворка Angular. Предоставляет информацию о получении виз в 26 стран мира.
            </p>
            <div class="stats">
              <div class="stat">
                <span>
                  ≈6
                </span>
                <p>КОНВЕРСИЯ %</p>
              </div>
              <div class="stat">
                <span>
                  ≈15
                </span>
                <p>ЗАЯВОК В ДЕНЬ</p>
              </div>
              <div class="stat">
                <span>
                  10
                </span>
                <p>СРОК ОКУПА-<br>ЕМОСТИ ДНЕЙ</p>
              </div> 
            </div> <!--STATS END-->
        </div> <!--COL END-->
        </div>  <!--CASE END-->
    </div> <!--CASE-CONTAINER END-->

    <!--<div class="case">
      <div class="col preview">
        <img src="./assets/images/landing/vegcafe-mockup.png">
      </div>
      <div class="col description">
          <h3>Лендинг для кафе</h3>
          <p>
            Наша команда разработала уникальный лендинг для кафе #1 в Беларуси. Был 
решен ряд сложнейших задач в процессе 
проектирования и разработки лендинга. Лендинг успешно выполняет свою функцию. Конверсия составила 10%.
        </p>
      </div>
    </div>-->
    <!--<a>ВСЕ КЕЙСЫ</a>-->

  </div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<app-clients></app-clients>

<section class="landing landing-tarif tarif">
  <div class="heading">
    <h2>ТАРИФЫ НА РАЗРАБОТКУ ЛЕНДИНГА</h2>
  </div>
      <div class="container">
        <div class="item item-1">
          <div class="item-container">
            <div class="number">1</div>
            <h2>BASIC</h2>
            <hr>
            <ul>
              <li>+ до 5и "экранов"</li>
              <li>+ современный дизайн</li>
              <li>+ высокая конверсия</li>
              <li>+ гарантия качества</li>
              <li>+ копирайтинг</li>
              <li>+ настройка аналитики</li>
              <li>+ мобильная версия</li>
              <li>7 дней до запуска</li>
            </ul>
            <div class="price">600 бел. руб.</div>
          </div>
          <a class="anchor" onclick="scrollToAnchor();"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>

        <div class="item item-2">
          <div class="item-container">
            <div class="number">2</div>
            <h2>STANDART</h2>
            <hr>
            <ul>
              <li>+ до 7и "экранов"</li>
              <li>+ все basic плюсы</li>
              <li>+ настройка контекстной рекламы в google и yandex</li>
              <li>от 7 дней до запуска</li>
            </ul>
            <div class="price">1000 бел. руб.</div>
          </div>
          <a class="anchor" onclick="scrollToAnchor();"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>

        <div class="item item-3">
          <div class="item-container">
            <div class="number">3</div>
            <h2>PREMIUM</h2>
            <hr>
            <ul>
              <li>+ безлимит "экранов"</li>
              <li>+ все standart плюсы</li>
              <li>+ подключение CRM системы Bitrix24</li>
              <li>+ настройка таргетинговой рекламы</li>
              <li>от 7 дней до запуска проекта</li>
            </ul>
            <div class="price">1500 бел. руб.</div>
          </div>
          <a class="anchor" onclick="scrollToAnchor();"><span>УЗНАТЬ БОЛЬШЕ</span></a>
        </div>
      </div>
    </section>

<app-reviews></app-reviews>


<app-contact-form></app-contact-form>
<a name="formAnchor"></a>

