<div class="about-body">
  <div class="background contact-bg">
    <img src="./assets/images/starwars/r2.svg">
  </div>

  <header class="page-header">
    <h1>О НАШЕЙ КОМПАНИИ</h1>
  </header>
  <div class="container">
    <h2>ICG В ЦИФРАХ:</h2>
    <div class="number-container">
      <div class="number">
        <span>51</span>
        <p>КЛИЕНТ</p>
      </div>
      <div class="number">
        <span>23</span>
        <p>ПРОДВИГАЕМЫХ АККАУНТОВ</p>
      </div>
      <div class="number">
        <span>11</span>
        <p>РАЗРАБОТАННЫХ ЛЕНДИНГОВ</p>
      </div>
      <div class="number">
        <span>9</span>
        <p>СОТРУДНИКОВ</p>
      </div>
    </div>

    <section>
      <p>
        <b>ICG (Internet Consulting Group)</b> - Молодая и современная команда маркетологов, smm-специалистов, разработчиков и дизайнеров. Наша главная цель - помогать Вам зарабатывать больше, за счет глубокого изучения потенциальной целевой аудитории Вашего бизнеса и способов ее привлечения. Мы професионально оказываем услуги по разработке лендингов, seo-продвижению. продвижению в Instagram.
      </p>
    </section>

    <section class="about-gallery">
      <img src="./assets/images/about/1.jpg">
      <img src="./assets/images/about/2.jpg">
      <img src="./assets/images/about/3.jpg">
    </section>
  </div>
</div>