<div class="context-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>КОНТЕКСТНАЯ РЕКЛАМА</h1>
  </header>
  <main>
    <section class="hero">
        <h1>ПРИВОДИТЕ НА 80% БОЛЬШЕ КЛИЕНТОВ УЖЕ ЧЕРЕЗ 5 ДНЕЙ</h1>
        <div class="container">
          <div class="hero-form">
            <form method="POST" action="send.php">
              <label for="name">ОСТАВЬТЕ ЗАЯВКУ</label>
              <input id="name" type="name" name="name" placeholder="Ваше Имя">
              <input type="phone" name="phone" placeholder="Номер телефона">
              <button type="submit">Отправить</button>
            </form>
          </div>
        </div>
    </section>   
  </main>

</div>