<div class="context-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>КОНТЕКСТНАЯ РЕКЛАМА</h1>
  </header>
  <main>
    <section class="hero">
        <h1>ПРИВОДИТЕ НА 80% БОЛЬШЕ КЛИЕНТОВ УЖЕ ЧЕРЕЗ 5 ДНЕЙ</h1>
        <div class="container">
          <div class="hero-form">
            <form method="POST" action="send.php">
              <label for="name">ОСТАВЬТЕ ЗАЯВКУ</label>
              <input id="name" type="name" name="name" placeholder="Ваше Имя">
              <input type="phone" name="phone" placeholder="Номер телефона">
              <button type="submit">Отправить</button>
            </form>
          </div>
        </div>
    </section>   
  </main>

</div>

<div class="context-global-container">
  <section class="context se-context">
      <div class="container">
        <div class="col">
          <h2>Google AdWords</h2>
          <p>Настроим товарные объявления, показывая предложения с ценами прямо в поиске Google и индивидуально обратимся к аудитории почты Gmail. 
            Вернем тех, кто не совершил покупку, используя ремаркетинг, повысим узнаваемость и спрос с помощью YouTube.</p>
        </div>
        <div class="col">
          <h2>Яндекс.Директ</h2>
          <p>
            Охватим целевую аудиторию в поиске Яндекса и его рекламной сети, возвращая посетителей и увеличивая количество заказов при помощи 
            ретаргетинга. Используем RTB, чтобы найти по интересам потенциальных клиентов и привести их на сайт.
          </p>
        </div>
      </div> <!--CONTAINER END-->
  </section>

  <div class="context-main-container">
    <section class="context">
      <div class="heading" style="margin-top: 0px; padding-top: 30px;">
        <h2>ПОЧЕМУ ICG</h2>
      </div>

      <div class="context-feature-container">
        <div class="feature">
          <img src="./assets/images/context/feature1.png">
          <p>Обеспечиваем конверсию в лид от 1% до 10% в зависимости от тематики</p>
        </div>

        <div class="feature">
          <img src="./assets/images/context/feature2.png">
          <p>Ориентируемся на бизнес-метрики: ROI, ROAS, LTV</p>
        </div>

        <div class="feature">
          <img src="./assets/images/context/feature3.png">
          <p>Автоматизируем кампании, оптимизируем бюджет</p>
        </div>
      </div> <!--FEATURE CONTAINER END-->
    </section>

    <section class="context context-price price">
      <div class="heading" style="margin-top: 60px;">
        <h2>СТОИМОСТЬ НАСТРОЙКИ</h2>
      </div>

      <p><b>200 </b> руб</p>
      <span>GOOGLE + YANDEX</span>
      <a>ОСТАВИТЬ ЗАЯВКУ</a>
    </section>

    <section class="context context-clients clients">
      <div class="heading" style="margin-top: 120px;">
        <h2>НАМ ДОВЕРЯЮТ</h2>
      </div> 

      <img src="./assets/images/context/clients.png" alt="Rosting, Квадрат, Дорожная азбука, Пижон">
    </section>

    <section class="context context-steps steps">
      <div class="heading" style="margin-top: 120px;">
        <h2>ЭТАПЫ РАБОТЫ</h2>
      </div> 

      <div class="container">
        <div class="row">
          <div class="num">1</div>
          <p>Определяем цели и согласовываем KPI</p>
        </div>

        <div class="row">
          <div class="num">2</div>
          <p>Проводим аудит тематики и размещения конкурентов</p>
        </div>

        <div class="row">
          <div class="num">3</div>
          <p>Настраиваем веб-аналитику</p>
        </div>

        <div class="row">
          <div class="num">4</div>
          <p>Определяем стратегию размещения</p>
        </div>

        <div class="row">
          <div class="num">5</div>
          <p>Создаем тексты объявлений</p>
        </div>

        <div class="row">
          <div class="num">6</div>
          <p>Проводим первоначальную настройку</p>
        </div>

        <div class="row">
          <div class="num">7</div>
          <p>Настраиваем систему автоматического корректирования ставки за клик (elama)</p>
        </div>

        <div class="row">
          <div class="num">8</div>
          <p>Анализируем поисковый трафик, расширяем список минус-слов, добавляем новые релевантные запросы</p>
        </div>

        <div class="row">
          <div class="num">9</div>
          <p>Формируем рекомендации для увеличения конверсии.</p>
        </div>
        
      </div> <!--container-end-->
    </section>
 

  <app-reviews></app-reviews>

  <app-contact-form></app-contact-form>

   </div> <!--context-main-container-end-->

</div> <!--context-global-container-end-->