<div class="contact-body">
  <div class="background contact-bg">
    <img src="./assets/images/starwars/dart.svg">
  </div>
  <div class="container">
    <header>
      <h1>КОНТАКТЫ</h1>
    </header>
    <main>
      <h2>ООО "Ай-Си-Джи Групп"</h2>
      <p>УНП 192696750</p>

      <div class="contact-item contact-phone">
        <span>Телефон (velcom):</span>
        <p><a href="tel:+375293503050">+375 (29) 350-30-50</a></p>
      </div>

      <div class="contact-item contact-address">
        <span>Адрес:</span>
        <p>г. Минск, ул. Богдановича 153Б, офис 403.</p>
      </div>

      <div class="contact-item contact-email">
        <span>E-mail:</span>
        <p><a href="mailto:info@icg.by">info@icg.by</a></p>
      </div>

      <!--<div class="contact-item contact-form">
        <span>Оставьте заявку:</span>
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm" method="post" action="send.php" id="contactForm">
          <input type="name" name="name" placeholder="Имя" minlength="3" required>
          <input type="phone" name="phone" placeholder="Телефон" minlength="3">
          <input type="email" name="email" placeholder="E-mail" minlength="3">
          <input type="hidden" name="service" value="contactPage" >
          <textarea name="comments" rows="7" placeholder="Комментарии"></textarea>
          <button type="submit">ОТПРАВИТЬ</button>
        </form>
      </div>-->

    </main>
    
  </div>
   <div class="contact-map">
        <sebm-google-map [styles]="mystyles" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="scrollwheel">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
      </div>
</div>
