<div class="seo-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>SEO-ПРОДВИЖЕНИЕ</h1>
  </header>
  <main>
    <section class="hero">
            <div class="cb-scroller"><span>УЗНАТЬ БОЛЬШЕ</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="2.5"></circle></svg>
          </div>
        <h1>ВЫВЕДЕМ ВАШ САЙТ В ТОП GOOGLE И YANDEX</h1>
        <button>ОСТАВИТЬ ЗАЯВКУ</button>
    </section>   
  </main>

</div> <!--HERO END-->

<div class="seo-global-container">
  <div class="seo-main-container">

    <section class="seo seo-benefits">
      <div class="heading" style="margin-top: 120px;">
        <h2>ВЫГОДА SEO</h2>
      </div> 

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="ico">
              <i class="fa fa-dollar"></i>
            </div>
            <div class="text">
              <b>УВЕЛИЧЕНИЕ ЧИСЛА ПРОДАЖ</b>
              <p>
                Принцип работы поисковых систем таков: благодаря алгоритмам поисковых систем на верхних строчках оказываются те сайты, которые в большей мере отвечают запросу пользователя
              </p>
            </div>
          </div>

          <div class="col">
            <div class="ico">
              <i class="fa fa-users"></i>
            </div>
            <div class="text">
              <b>УМЕНЬШЕНИЕ СТОИМОСТИ НА ПРИВЛЕЧЕНИЕ КЛИЕНТА</b>
              <p>
                Мы умеем продвигать сайты по запросам, в которых ярко выражено желание пользователей обрести продукт
              </p>
            </div>
          </div>
        </div> <!--row end-->

        <div class="row">
          <div class="col">
            <div class="ico">
              <i class="fa fa-bar-chart"></i>
            </div>
            <div class="text">
              <b>УВЕЛИЧЕНИЕ КОЛИЧЕСТВА ПОСЕТИТЕЛЕЙ</b>
              <p>Когда Ваш сайт близок к лидирующим позициям в поисковой выдаче, большее число пользователей захочет его посетить - чтобы заказать или купить желанный продукт</p>
            </div>
          </div>

          <div class="col">
            <div class="ico">
              <i class="fa fa-search"></i>
            </div>
            <div class="text">
              <b>УВЕЛИЧЕНИЕ ВИДИМОСТИ САЙТА</b>
              <p>Когда Ваш сайт близок к лидирующим позициям в поисковой выдаче, большее число пользователей захочет его посетить - чтобы заказать или купить желанный продукт</p>
            </div>
          </div>
        </div> <!--row end-->
      </div>
    </section>

    <section class="seo seo-cases">
      <div class="heading" style="margin-top: 120px;">
        <h2>ПРИМЕРЫ РАБОТ</h2>
      </div>

      <div class="container">
        <p><b>ROSTING</b> - ТУРИСТИЧЕСКАЯ КОМПАНИЯ</p>
        <img src="./assets/images/seo/case1.png" alt="Ростинг, 1 место по запросу 'туры в болгарию'">
      </div>

    </section>

    <section class="seo seo-price price">
      <div class="heading" style="margin-top: 120px;">
        <h2>СТОИМОСТЬ ПРОДВИЖЕНИЯ</h2>
      </div>

      <p><b>600 </b> руб</p>
      <span>В МЕСЯЦ</span>
      <a>ОСТАВИТЬ ЗАЯВКУ</a>
    </section>
 
    <section class="seo seo-process">
      <div class="heading" style="margin-top: 120px;">
        <h2>СХЕМА РАБОТЫ</h2>
      </div>

      <div class="container">
        <div class="arrow1"></div>
        <div class="arrow2"></div>
        <div class="part"><img src="./assets/images/seo/process1.png" alt=""><span>Оценка</span></div>
        <div class="part"><img src="./assets/images/seo/process2.png" alt=""><span>Согласование</span></div>
        <div class="part"><img src="./assets/images/seo/process3.png" alt=""><span>Вывод + поддержка</span></div>
        <div class="part"><img src="./assets/images/seo/process4.png" alt=""><span>Оплата за результаты</span></div>
      </div><!-- /.container -->
    </section>

    <section class="seo seo-clients clients">
      <div class="heading" style="margin-top: 120px;">
        <h2>НАМ ДОВЕРЯЮТ</h2>
      </div> 

      <img src="./assets/images/context/clients.png" alt="Rosting, Квадрат, Дорожная азбука, Пижон">
    </section>

    <app-reviews></app-reviews>

    <app-contact-form></app-contact-form>
   </div> <!--seo-main-container END-->
</div> <!--seo-global-container END-->