<div class="seo-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>SEO-ПРОДВИЖЕНИЕ</h1>
  </header>
  <main>
    <section class="hero">
            <div class="cb-scroller"><span>УЗНАТЬ БОЛЬШЕ</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="2.5"></circle></svg>
          </div>
        <h1>ВЫВЕДЕМ ВАШ САЙТ В ТОП GOOGLE И YANDEX</h1>
        <button>ОСТАВИТЬ ЗАЯВКУ</button>
    </section>   
  </main>

</div>