<div id="nav-container" [ngClass]="{'light-theme': getCurrentPath()}">
  <div class="toggle-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div><!-- /toggle-icon -->
  <p>МЕНЮ</p>
</div><!-- /nav-container -->

<div class="menu">
  <div class="menu-container">
    <header>
      <h1>ICG</h1>
      <p>DIGITAL AGENCY</p>
    </header>
    <nav>
      <ul>
        <!--<li><a routerLink="/" [routerLinkActive]="['active']">Главная</a></li>-->
        <li><a routerLink="/services" [routerLinkActive]="['active']">Услуги</a>
          <ul>
            <li [ngClass]="{'hidden': getCurrentPathIsService()}" class="sub-menu-item">
              <a routerLink="/services/landing" [routerLinkActive]="['sub-active']"> Разработка LP</a>
            </li>
            <li [ngClass]="{'hidden': getCurrentPathIsService()}" class="sub-menu-item sub-menu-item-next">
              <a routerLink="/services/instagram" [routerLinkActive]="['sub-active']"> Продвижение <br>в Instagram</a>
            </li>
            <li [ngClass]="{'hidden': getCurrentPathIsService()}" class="sub-menu-item sub-menu-item-next">
              <a routerLink="/services/seo" [routerLinkActive]="['sub-active']"> SEO</a>
            </li>
            <li [ngClass]="{'hidden': getCurrentPathIsService()}" class="sub-menu-item sub-menu-item-next">
              <a routerLink="/services/context" [routerLinkActive]="['sub-active']"> Контекстная реклама</a>
            </li>
          </ul>
        </li>
        
        <!--<li><a routerLink="/portfolio" [routerLinkActive]="['active']">Кейсы</a></li>
        <li><a routerLink="/blog" (click)="this._router.navigate(['/blog']);">Блог</a></li>-->
        <li><a routerLink="/contact" [routerLinkActive]="['active']">Контакты</a></li>
        <li><a routerLink="/about" [routerLinkActive]="['active']">О Компании</a></li>
      </ul>
    </nav>
    <div class="menu-bottom">
      <ul class="social">
          <li><a href="https://www.instagram.com/icg__by/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-instagram"></i>
          </a></li>
          <li><a href="https://vk.com/icg_by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-vk"></i>
          </a></li>
          <li><a href="https://www.facebook.com/icg.by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-facebook"></i>
          </a></li>
          <li><a href="https://behance.net/icg-by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-behance"></i>
          </a></li>
        </ul>
        <span>ООО "Ай-Си-Джи групп"<br>&copy; ICG, {{year}}</span>
    </div>
  </div>
</div>

<div class="menu-open-darken">

</div>

<div class="call-container" [ngClass]="{'light-theme': getCurrentPath()}">
  <div class="call-number-container" [ngClass]="{'light-theme': getCurrentPath()}">
    <p><a href="tel:+375293503050"> +375 (29) 350-30-50</a></p>
  </div>
  <div class="call-btn">
    <i class="fa fa-phone"></i>
  </div>
</div>

<div class="mobile-only mobile-call-btn" [ngClass]="{'light-theme': getCurrentPath()}">
  <a href="tel:+375293503050"><i class="fa fa-phone"></i></a>
</div>




<router-outlet></router-outlet>




<!--<footer [ngClass]="{'hidden': getCurrentPath()}">
  <div class="container">
    <div class="col col-1">
      <p>
        ООО "Ай-Си-Джи групп"<br>
        г. Минск, Победителей 127 <br>
        офис 293.<span> УНП 192686750</span>
      </p>
    </div>
    <hr class="first">
    <div class="col col-2">
      <nav class="footer-nav">
        <ul>
          <li><a routerLink="/">Главная</a></li>
        </ul>
        <ul>
          <li><a routerLink="/services">Услуги</a></li>
          <li><a routerLink="/about">О Компании</a></li>
          <li><a routerLink="/contact">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <hr class="second">
    <div class="col col-3">
      <ul class="social">
        <li><a href="https://www.instagram.com/icg__by/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-instagram"></i>
        </a></li>
        <li><a href="https://vk.com/icg_by" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-vk"></i>
        </a></li>
        <li><a href="https://www.facebook.com/icg.by" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-facebook"></i>
        </a></li>
        <li><a href="https://behance.net/icg-by" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-behance"></i>
        </a></li>
      </ul>
      <p id="madebyicg">
        MADE WITH <i class="fa fa-heart"></i> BY ICG TEAM<br>&copy; ICG, 2016
      </p>
    </div>
  </div>
</footer>-->
