<div class="services-body">
  <div class="background contact-bg">
    <img src="./assets/images/starwars/star.svg">
  </div>


  <header class="page-header">
    <h1>НАШИ УСЛУГИ</h1>
  </header>
  <div class="container">
      <div class="item item-1">
        <div class="item-container">
          <img src="./assets/images/starwars/r2d2.svg">
          <h2 class="caption">
            Разработка Landing Page
          </h2>
          <p>
            Landing Page - целевая страница в интернете, конвертирующая посетителей в поток заявок и звонков.
          </p>
        </div>
        <a routerLink="/services/landing"><span>ПОДРОБНЕЕ</span></a>
      </div>

      <div class="item item-2">
        <div class="item-container">
          <img src="./assets/images/starwars/ship1.svg">
          <h2 class="caption">
            SEO Продвижение
          </h2>
          <p>
            Привлечение клиентов, путем продвижения сайта в ТОП поисковых систем по целевым запросам.
          </p>
        </div>
        <a routerLink="/services/seo"><span>ПОДРОБНЕЕ</span></a>
      </div>

      <div class="item item-3">
        <div class="item-container">
          <img src="./assets/images/starwars/dart.svg">
          <h2 class="caption">
            Продвижение в Instagram
          </h2>
          <p>
            Продвижение Вашей компании в самой быстрорастущей социальной сети Instagram
          </p>
        </div>
        <a routerLink="/services/instagram"><span>ПОДРОБНЕЕ</span></a>
      </div>

      <div class="item item-4">
        <div class="item-container">
          <img src="./assets/images/starwars/star.svg">
          <h2 class="caption">
            Контекстная реклама
          </h2>
          <p>
            Самый эффективный способ привлечения клиентов. Мгновенное размещение в ТОП по целевым запросам.
          </p>
        </div>
        <a routerLink="/services/context"><span>ПОДРОБНЕЕ</span></a>
      </div>
  </div>
</div>