<div class="instagram-body hero-container">

  <header class="page-header" style="z-index: 0; margin-top: 50px;">
      <h1>ПРОДВИЖЕНИЕ В INSTAGRAM</h1>
  </header>
  <main>
    <section class="hero">
            <div class="cb-scroller"><span>УЗНАТЬ БОЛЬШЕ</span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 40" style="enable-background:new 0 0 25 40;" xml:space="preserve"><path d="M11,39.5C5.2,39.5,0.5,34.8,0.5,29V11C0.5,5.2,5.2,0.5,11,0.5h3c5.8,0,10.5,4.7,10.5,10.5v18c0,5.8-4.7,10.5-10.5,10.5H11z"></path><circle cx="12.5" cy="11.5" r="2.5"></circle></svg>
          </div>
        <h1>НАУЧИМ ВАШ INSTAGRAM ПРОДАВАТЬ</h1>
        <h2>Разработаем продающую стратегию, грамотно упакуем контент и приведем целевую аудиторию</h2>
        <a class="anchor" onclick="scrollToAnchor();">ОСТАВИТЬ ЗАЯВКУ</a>
    </section>   
  </main>

</div>

<div class="instagram instagram-hero-next">
  <h2>ПРОДВИЖЕНИЕ 24/7</h2>
  <div class="container">
    <p>Мы знаем, как устроены продажи в Instagram.
Ищем и находим новые идеи каждый день, раз за разом совершенствуя механизм. 
Когда вы спите или отдыхаете - ваш аккаунт продолжает продавать.</p>
  </div> <!--container end-->
</div>

<section class="instagram instagram-why">
      <div class="heading" style="margin-top: 120px;">
        <h2>ЧЕМ INSTAGRAM ПОМОЖЕТ ВАШЕМУ БИЗНЕСУ?</h2>
      </div>

      <div class="container">
        <div class="col">
          <i class="fa fa-picture-o"></i>
          <p>Визуальная форма подачи</p>
        </div>
        <div class="col">
          <i class="fa fa-dollar"></i>
          <p>Платежеспособная аудитория</p>
        </div>
        <div class="col">
          <i class="fa fa-bar-chart"></i>
          <p>Самая быстрорастущая социальная сеть</p>
        </div>
        <div class="col">
          <i class="fa fa-newspaper-o"></i>
          <p>Подписчики будут следить за Вашими новостями</p>
        </div>
      </div> <!--container end-->
</section>

<section class="instagram instagram-methods">
      <div class="heading" style="margin-top: 120px;">
        <h2>МЕТОДЫ ПРИВЛЕЧЕНИЯ ЦЕЛЕВОЙ АУДИТОРИИ</h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <i class="fa fa-globe"></i>
            <p>По Географии</p>
          </div>
          <div class="col">
            <i class="fa fa-users"></i>
            <p>По Конкурентам</p>
          </div>
          <div class="col">
            <i class="fa fa-soccer-ball-o"></i>
            <p>По Хобби</p>
          </div>
          <div class="col">
            <i class="fa fa-thumbs-o-up"></i>
            <p>Рекомендации по оформлению</p>
          </div>
          <div class="col">
            <i class="fa fa-phone"></i>
            <p>Оформление кнопки "Связаться"</p>
          </div>
        </div> <!--row end-->
        <div class="additional-container">
          <h3>а так же...</h3>
          <div>
            <i class="fa fa-bullhorn"></i>
            <span>Реклама в наших пабликах с аудиторией 30000+ подписчиков</span>
          </div>
        </div>
      </div> <!--container end-->
</section>

<section class="instagram instagram-garant">
      <div class="heading" style="margin-top: 120px;">
        <h2>ЗА МЕСЯЦ НАШЕЙ РАБОТЫ МЫ ГАРАНТИРУЕМ ВАМ</h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <i class="fa fa-dollar"></i>
            <p>Увеличение прибыли</p>
          </div>
          <div class="col">
            <i class="fa fa-users"></i>
            <p>Увеличение подписчиков на 600-1500</p>
          </div>
          <div class="col">
            <i class="fa fa-heart"></i>
            <p>Прирост среднего количества лайков до 200</p>
          </div>
          <div class="col">
            <i class="fa fa-comments"></i>
            <p>До 800 контактов с целевой аудиторией в день</p>
          </div>
          <div class="col">
            <i class="fa fa-clock-o"></i>
            <p>Продвижение 24/7</p>
          </div>
          <div class="col">
            <i class="fa fa-file-text-o"></i>
            <p>Ежемесячный отчет</p>
          </div>
        </div> <!--row end-->
        <a class="instagram-garant-btn anchor" onclick="scrollToAnchor();">ОСТАВИТЬ ЗАЯВКУ</a>
      </div> <!--container end-->
</section>

<section class="instagram instagram-cases">
      <div class="heading" style="margin-top: 120px;">
        <h2>НАШИ ГАРАНТИИ - ЭТО НАШИ КЕЙСЫ</h2>
      </div>

      <div class="container">
       
        <div class="case case--right">
          <div class="preview">
            <img src="./assets/images/instagram/case1.png">
          </div>
          <div class="case-info">
            <h3>Магазин мужской одежды <br>"ПИЖОН"
              <a href="http://pizhon.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link-square"></i></a>
              <a href="https://www.instagram.com/pizhon_by/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </h3>

            <div class="results-container">
              <div class="results">
                <div class="element">
                  <div class="arrow">{{ '}' }}</div>
                  <div class="arrow-caption">ИТОГИ РАБОТЫ</div>
                </div>
              
                <div class="row">
                  <p>Целевая аудитория увеличилась на</p>
                  <b>9600</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков увеличилось</p>
                  <b>в 4 раза</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков комментариев</p>
                  <b>в 2 раза</b>
                </div>
                <div class="row">
                  <p>Количество запросов в Direct</p>
                  <b>684</b>
                </div>
                <div class="row">
                  <p>Период продвижения</p>
                  <b>8 месяцев</b>
                </div>
              </div> <!--results-->
            </div> <!--results-container-->
          </div> <!--case-info-->
        </div> <!--case end-->

        <div class="case case--left">
          <div class="preview">
            <img src="./assets/images/instagram/case2.png">
          </div>
          <div class="case-info">
            <h3>Рольшторы "rolshtory24.by"
              <a href="http://www.rolshtory24.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link-square"></i></a>
              <a href="instagram.com/rolshtory24.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </h3>

            <div class="results-container">
              <div class="results">
                <div class="element">
                  <div class="arrow-caption">ИТОГИ РАБОТЫ</div>
                  <div class="arrow">{{ '{' }}</div>
                </div>
                <div class="row">
                  <p>Целевая аудитория увеличилась на</p>
                  <b>3500</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков увеличилось</p>
                  <b>в 23 раза</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков комментариев</p>
                  <b>в 6 раз</b>
                </div>
                <div class="row">
                  <p>Количество запросов в Direct</p>
                  <b>58</b>
                </div>
                <div class="row">
                  <p>Период продвижения</p>
                  <b>4 месяцa</b>
                </div>
              </div>
            </div> <!--results-container-->
          </div> <!--case-info-->
        </div> <!--case end-->


        <div class="case case--right">
          <div class="preview">
            <img src="./assets/images/instagram/case3.png">
          </div>
          <div class="case-info">
            <h3>Автошкола <br>"Дорожная Азбука" 
              <a href="http://www.lp.ada.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link-square"></i></a>
              <a href="https://instagram.com/autoschool_minsk/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </h3>

            <div class="results-container">
              <div class="results">
                <div class="element">
                  <div class="arrow">{{ '}' }}</div>
                  <div class="arrow-caption">ИТОГИ РАБОТЫ</div>
                </div>
              
                <div class="row">
                  <p>Целевая аудитория увеличилась на</p>
                  <b>3700</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков увеличилось</p>
                  <b>в 6 раз</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков комментариев</p>
                  <b>в 3 раза</b>
                </div>
                <div class="row">
                  <p>Количество запросов в Direct</p>
                  <b>125</b>
                </div>
                <div class="row">
                  <p>Период продвижения</p>
                  <b>4 месяца</b>
                </div>
              </div> <!--results-->
            </div> <!--results-container-->
          </div> <!--case-info-->
        </div> <!--case end-->



        <div class="case case--left">
          <div class="preview">
            <img src="./assets/images/instagram/case4.png">
          </div>
          <div class="case-info">
            <h3>ФОЦ Машерова
              <a href="http://www.focsport.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link-square"></i></a>
              <a href="instagram.com/fots_masherova.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </h3>

            <div class="results-container">
              <div class="results">
                <div class="element">
                  <div class="arrow-caption">ИТОГИ РАБОТЫ</div>
                  <div class="arrow">{{ '{' }}</div>
                </div>
                <div class="row">
                  <p>Целевая аудитория увеличилась на</p>
                  <b>5600</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков увеличилось</p>
                  <b>в 9 раз</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков комментариев</p>
                  <b>в 4 раза</b>
                </div>
                <div class="row">
                  <p>Количество запросов в Direct</p>
                  <b>113</b>
                </div>
                <div class="row">
                  <p>Период продвижения</p>
                  <b>5 месяцев</b>
                </div>
              </div>
            </div> <!--results-container-->
          </div> <!--case-info-->
        </div> <!--case end-->



        <div class="case case--right">
          <div class="preview">
            <img src="./assets/images/instagram/case5.png">
          </div>
          <div class="case-info">
            <h3>  Барбершоп "Тайга"
              <a href="http://www.barbershoptaiga.by" target="_blank" rel="noopener noreferrer"><i class="fa fa-external-link-square"></i></a>
              <a href="https://instagram.com/barbershop_taiga/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
            </h3>

            <div class="results-container">
              <div class="results">
                <div class="element">
                  <div class="arrow">{{ '}' }}</div>
                  <div class="arrow-caption">ИТОГИ РАБОТЫ</div>
                </div>
              
                <div class="row">
                  <p>Целевая аудитория увеличилась на</p>
                  <b>1100</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков увеличилось</p>
                  <b>в 3 раза</b>
                </div>
                <div class="row">
                  <p>Среднее количество лайков комментариев</p>
                  <b>в 8 раз</b>
                </div>
                <div class="row">
                  <p>Количество запросов в Direct</p>
                  <b>14</b>
                </div>
                <div class="row">
                  <p>Период продвижения</p>
                  <b>30 дней</b>
                </div>
              </div> <!--results-->
            </div> <!--results-container-->
          </div> <!--case-info-->
        </div> <!--case end-->


        <!--<a class="instagram-cases-btn">ВСЕ КЕЙСЫ</a>-->

      </div> <!--container end-->
</section>

<section class="instagram instagram-cost">
      <div class="heading" style="margin-top: 120px;">
        <h2>СТОИМОСТЬ ПРОДВИЖЕНИЯ</h2>
      </div>

      <div class="container">
        <h4>ОТ</h4>
        <h1>120 <b>РУБЛЕЙ</b></h1>
        <h3>В МЕСЯЦ</h3>
        <a class="anchor" onclick="scrollToAnchor();">ОСТАВИТЬ ЗАЯВКУ</a>
      </div> <!--container end-->
</section>

<section class="instagram instagram-our">
      <div class="heading" style="margin-top: 120px;">
        <h2>НАШИ ПЛОЩАДКИ</h2>
      </div>

      <div class="container">
        <div class="items">
          <div class="item">
            <img src="./assets/images/instagram/our1.png">
            <div class="hover"><a href="https://www.instagram.com/avto_foto_minsk/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></div>
          </div>
          <div class="item">
            <img src="./assets/images/instagram/our2.png">
            <div class="hover"><a href="http://instagram.com/travelbelarus" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></div>
          </div>
          <div class="item">
            <img src="./assets/images/instagram/our3.png">
            <div class="hover"><a href="https://www.instagram.com/eventminsk/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></div>
          </div>
          <div class="item">
            <img src="./assets/images/instagram/our4.png">
            <div class="hover"><a href="https://www.instagram.com/its_minsk/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></div>
          </div>
          <div class="item">
            <img src="./assets/images/instagram/our5.png">
            <div class="hover"><a href="https://www.instagram.com/sportsmens_bel/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></div>
          </div>
        </div> <!--items end-->
        <h4>СУММА ПОДПИСЧИКОВ = 30000+</h4>
      </div> <!--container end-->
</section>

<app-clients></app-clients>

<app-reviews></app-reviews>


<app-contact-form></app-contact-form>
<a name="formAnchor"></a>