$green-l: #01e49a;
$green-d: #00d5be;
$green-d2: #00dfc7;

$blue: #48bcef;
$blue-d: #0190e4;

$red-l: #ffb9b8; 
$red-d: #ff4843;

$black: #010101;
$white: #ffffff;
$white-d: rgba(255,255,255, .7);



$lp-red: #f7201c;

$context: #ffc107;

$instagram: #c13584;
$instagram2: #4092e6;

$seo1: #b4d5c8;
$seo2: #dc847f;