@import 'normalize.scss'; 
@import 'colors.scss';
@import 'ff.scss';
@import 'base.scss';
@import 'menu.scss';


//MIXINS
@mixin transition(){
  transition: all 0.2s ease-in;
}

@mixin button-default($c){
  display: block;
  background-color: transparent;
  border: 2px solid $c;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  cursor: pointer;
  padding: 5px 35px !important;
  font-family: 'Visby CF Heavy';
  transition: all 0.1s linear;
  &:hover{
    background-color: $c;
  }
}

//PAGES
@import './pages/home.scss';
@import './pages/contact.scss';

$container-width: 960px;
$margin-top: 30px;

html{height: 100%;}

body{
  font-family: 'Visby CF Medium';
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
}

footer{
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white-d;
  font-family: 'Visby CF Medium' !important;
  font-weight: 600;
  @include transition();
  .container{
    width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    hr{
      border: 0;
      border-left: 2px solid rgba(255, 255, 255, .15);
      height: 50px;
      position: relative;
      &:nth-child(1){left: 50px;}
    }
    .col-3{
      //margin-right: -20px;
      .social{max-width: 120px;}
    }
    .col{
      width: calc($container-width/3);
      #madebyicg{
        font-size: 0.75em;
        text-align: right;
        //padding-right: 20px;
      }
      span{color: rgba(255,255,255, .3)}
      nav{
        display: flex;
        ul{
          margin: 0 15px;
          li{
            a{
              transition: all 0.15s ease-in-out;
              &:hover{color: white;}
            }
          }
        }
      }
      p{margin: 0;}
      .social{
        display: flex;
        margin: 0;
        li{
          padding: 2px 0px;
          display: inline-block;
          font-size: 1.5em;
          line-height: 1;
          margin-right: 20px;
          a{
            transition: all 0.15s ease-in-out;
            &:hover{color: $white;}
          }
        }
      }
    }
  }
  &:hover{
    color: #cfcfcf;
    .col:hover{
      color: #dfdfdf;
    }
  }
  .col{@include transition()}
}



// MENU
$menu-width: 262px;
$shadow-width: 8px;
.menu{
  position: fixed;
  left: -$menu-width - $shadow-width;
  top: 0;
  width: $menu-width;
  height: 100%;
  background-color: $black;
  color: #ccc;
  box-shadow: $shadow-width 0 $shadow-width 0 rgba(0,0,0,.5);
  transition: left 0.3s ease-in-out;
  .menu-container{
    width: inherit;
    height: inherit;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-left: 35px;
    nav{
      li{
        padding: 8px 0;
      }
      a{
        font-size: 1.7em;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        padding: 0px 90px 0px 0;
        &:hover{
          color: #efefef;
        }
      }
    }
  }
}

.active{
  color: white;
}

.menu-opened{
  left: 0;
}

// CALL BTN
.call-container{
  color: $black;
  position: absolute;
  right: 20px;
  top: 34px;
  font-size: 1.8em;
  line-height: 0;
  .call-btn{
    border: 2px solid $black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .call-number-container{
    position: absolute;
    right: -272px;
    padding-right: 45px;
    padding-left: 5px;
    width: 272px;
    height: 50px;
    border: 2px solid $black;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
}

.call-active{
  display: flex !important;
  right: 0;
  opacity: 1;
}

.hidden{
  display: none;    
}

.light-theme{
  .call-btn, .toggle-icon .bar{border-color: $white;}
  color: $white !important;
}