@import 'normalize.scss'; 
@import 'colors.scss';
@import 'ff.scss';
@import 'base.scss';
@import 'menu.scss';


//MIXINS
@mixin transition(){
  transition: all 0.2s ease-in;
}

@mixin service-gradient($c1, $c2){
  background-image: linear-gradient(to bottom, $c1, $c2);
}

@mixin service-link($c){
  a{
    background-color: $c;
    transition: background-color 0.15s ease-in;
    &:hover{
      background-color: lighten($c, 5%);
    }
  }
}

@mixin button-default($c){
  display: block;
  background-color: transparent;
  border: 2px solid $c;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  cursor: pointer;
  padding: 5px 35px !important;
  font-family: 'Visby CF Heavy';
  transition: all 0.1s linear;
  font-size: 0.7rem !important;
  &:hover{
    background-color: darken($c, 5%);
    border-color: darken($c, 5%);
  }
}

@mixin input-textarea-styles(){
  input, textarea{
    display: block;
    width: 100%;
    border: 0;
    margin: 12px 0px;
    padding: 7px 0px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    transition: border-color 0.15s linear;
    font-family: 'Visby CF Bold';
    &::placeholder{
      opacity: 1;
    }
    &:hover{
      border-bottom: 2px solid #aaa;
    }
    &:focus{
      outline: none;
      border-bottom: 2px solid $black;
    }
  }
}

$container-width: 960px;
$margin-top: 30px;

$thin: 'Visby CF Thin';
$light: 'Visby CF Light';
$regular: 'Visby CF Medium';
$medium: 'Visby CF Demi';
$bold: 'Visby CF Bold';
$extrabold: 'Visby CF Extra';
$heavy: 'Visby CF Heavy';

//PAGES
@import './pages/home.scss';
@import './pages/contact.scss';
@import './pages/services.scss';
@import './pages/about.scss';

@import './pages/services/landing.scss';
@import './pages/services/context.scss';
@import './pages/services/instagram.scss';
@import './pages/services/seo.scss';

.ng-valid[required], .ng-valid.required  {
  border-bottom: 3px solid #42A948 !important; /* green */
}

.ng-invalid:not(form)  {
  //border-bottom: 3px solid #a94442 !important; /* red */
}

.input-alert{
  position: relative;
  top: -8px;
  color: red;
  font-family: $bold;
}

.hidden{display: none;}

.form-success{
  text-align: center;
  background-color: $blue;
  padding: 30px 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: $white;
  p:first-child{
      margin: 10px 0;
      font-size: 1.8rem;
      font-family: $heavy;
      //color: $blue;
  }
  p:last-child{
    font-family: $bold;
    font-size: 1.1rem;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.seo-success{
  background-color: $seo1;
}

.landing-success{
  background-color: $lp-red;
}

.instagram-success{
  background-color: $instagram;
}

.context-success{
  background-color: $context;
}

html{height: 100%;}

body{
  font-family: 'Visby CF Medium';
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
}

footer{
  width: 100%;
  height: 100px;
  background-color: $black;
  color: $white-d;
  font-family: 'Visby CF Medium' !important;
  font-weight: 600;
  @include transition();
  .container{
    width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    hr{
      border: 0;
      border-left: 2px solid rgba(255, 255, 255, .15);
      height: 50px;
      position: relative;
      &:nth-child(1){left: 50px;}
    }
    .col-3{
      //margin-right: -20px;
      .social{max-width: 120px;}
    }
    .col{
      width: calc($container-width/3);
      #madebyicg{
        font-size: 0.75em;
        text-align: right;
        //padding-right: 20px;
      }
      span{color: rgba(255,255,255, .3)}
      nav{
        display: flex;
        ul{
          margin: 0 15px;
          li{
            a{
              transition: all 0.15s ease-in-out;
              &:hover{color: white;}
            }
          }
        }
      }
      p{margin: 0;}
      .social{
        display: flex;
        margin: 0;
        li{
          padding: 2px 0px;
          display: inline-block;
          font-size: 1.5em;
          line-height: 1;
          margin-right: 20px;
          a{
            transition: all 0.15s ease-in-out;
            &:hover{color: $white;}
          }
        }
      }
    }
  }
  &:hover{
    color: #cfcfcf;
    .col:hover{
      color: #dfdfdf;
    }
  }
  .col{@include transition()}
}

.home-body{
  footer{
    &:hover{
      color: $white !important;
    }
    .col{
      color: #ccc;
      .social{
        li{
          a{
            &:hover{
              text-shadow: 3px 3px 3px rgba(255, 255, 255, .15);
              color: $white;
            }
          }
        }
      }
      &:hover{
        color: $white !important;
      }
    }
  }
}



// MENU
$menu-width: 262px;
$shadow-width: 8px;
.menu{
  position: fixed;
  left: -$menu-width - $shadow-width;
  top: 0;
  width: $menu-width;
  height: 100%;
  background-color: $black;
  color: #ccc;
  box-shadow: $shadow-width 0 $shadow-width 0 rgba(0,0,0,.5);
  transition: left 0.3s ease-in-out;
  z-index: 99;
  .menu-container{
    width: inherit;
    height: inherit;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-left: 35px;
    nav{
      li{
        padding: 8px 0;
      }
      a{
        font-size: 1.7em;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        padding: 0px 90px 0px 0;
        &:hover{
          color: #efefef;
        }
      }
    }
  }
}

.page-header{
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  margin-top: 25px;
  font-family: 'Visby CF Heavy';
}

.active{
  color: white;
}

.menu-opened{
  left: 0;
}

@keyframes call-opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes call-opacity-out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.call-opacity-out{
  animation: call-opacity 0.5s ease-in-out;
}

// CALL BTN
.call-container{
  color: $black;
  position: fixed;
  right: 20px;
  top: 34px;
  font-size: 1.8em;
  line-height: 0;
  z-index: 9999;
  .call-btn{
    border: 2px solid $black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .call-number-container{
    position: absolute;
    right: -272px;
    padding-right: 45px;
    padding-left: 5px;
    width: 272px;
    height: 50px;
    border: 2px solid $black;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: call-opacity 0.5s ease-in-out;
  }
}

.call-active{
  display: flex !important;
  right: 0;
  opacity: 1;
}

.hidden{
  display: none;    
}

.light-theme{
  border-color: $white !important;
  .call-btn, .toggle-icon .bar{border-color: $white;}
  color: $white !important;
}

//PAGES'S  BACKGROUND
.background{
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img{
    height: 80%;
    opacity: .1;
    z-index: 0;
  }
}

// SCROLL DOWN ANIMATION
.cb-scroller{
  position: absolute;
  bottom: 15px;
  left: calc(50% - 12.5px);
}

.cb-scroller svg {
    height: 41px;
    -webkit-transition: opacity .4s ease-in-out .9s;
    transition: opacity .4s ease-in-out .9s;
}
svg:not(:root) {
    overflow: hidden;
}
*, :after, :before {
    box-sizing: border-box;
}
.cb-scroller svg path {
    fill: rgba(255,255,255,0);
    stroke: #FFF;
    stroke-dasharray: 51,0;
    stroke-dashoffset: 109;
    -webkit-transition: stroke-dasharray 1.3s cubic-bezier(.74,.05,.12,.99) .9s;
    transition: stroke-dasharray 1.3s cubic-bezier(.74,.05,.12,.99) .9s;
}
.cb-scroller svg circle {
    fill: #FFF;
    -webkit-animation: cb-scroller-mouse-circle ease-in-out 1.9s infinite;
    animation: cb-scroller-mouse-circle ease-in-out 1.9s infinite;
}

@keyframes cb-scroller-mouse-circle{
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 0;
  }
  40% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  100% {
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
      opacity: 0;
  }
}




@media screen and (min-width: 1450px){
  body{
    font-size: 15px !important;
  }
}