@mixin basic-container(){
  .container{
    width: $container-width;
    margin: 0 auto;
    @media screen and (max-width: $mobile){
      width: 95%;
    }
  }
}

.instagram-body{
  background: url('./assets/images/instagram/hero.png') 0% 0% no-repeat;
  background-size: cover;

  main .hero .cb-scroller{
    left: calc(50% - 60px);
    & svg path {
      fill: $instagram;
      stroke: #fff;
    }
  }

  main .hero{
      button, a{
        @include button-default($instagram); 
        width: 230px; color: $black; 
        background-color: $instagram;
        color: $white;
        position: relative;
        top: -5px;
      }

    h1{
      font-size: 2.06rem;
      padding: 8px 20px;
      color: $instagram2;
      background: $white;
    }
    h2{
        text-align: center;
        color: $black;
        background-color: $white;
        margin: 1px 130px;
        padding: 5px 10px;
        @media screen and (max-width: $mobile){
          margin: 1px 0;
        }
    }
  }
}

.instagram-hero-next{
  background-image: url('./assets/images/instagram/3.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  @include basic-container();
  h2{
    font-family: $heavy;
    margin-top: 0;
    padding-top: 70px;
    font-size: 1.5em;
  }
  p{
    font-family: $light;
    font-size: 1.3em;
    padding: 0 50px 70px 50px;
    @media screen and (max-width: $mobile){
      padding: 0 15px 70px 15px;
    }
  }
}

.instagram{
  .heading{
    color: $instagram;
  }
}

.instagram-why{
  @include basic-container();
  .container{
    display: flex;
    margin-top: 70px;
    @media screen and (max-width: $mobile){
      flex-direction: column; 
      align-items: center;
    }
    .col{
      width: calc(960px / 4);
      text-align: center;
      @media screen and (max-width: $mobile){
        margin: 10px 0;
      }
      p{font-size: 1.2em; font-family: $medium;}
      i{
        font-size: 3rem;
      }
    }
  }
}

.instagram-methods{
  @include basic-container();
  .additional-container{
    width: 550px;
    margin: 0 auto;
    @media screen and (max-width: $mobile){
      width: 95%;
    }
    i{
      font-size: 2rem;
    }
    span{
      font-size: 1.01rem;
      margin-left: 10px;
      position: relative;
      top: -5px;
    }
    h3{
      margin: 0;
      font-size: 2em;
      font-family: $extrabold;
      @media screen and (max-width: $mobile){
        margin-top: 10px;
      }
    }
  }
  .container .row{
    display: flex;
    margin-top: 70px;
    @media screen and (max-width: $mobile){
      flex-direction: column;
      align-items: center;
    }
    .col{
      width: calc(960px / 5);
      text-align: center;
      @media screen and (max-width: $mobile){
        margin: 10px 0;
      }
      p{font-size: 1.2em; font-family: $medium;}
      i{
        font-size: 3rem;
      }
    }
  }
}

.instagram-garant{
  @include basic-container();
  background-image: url('./assets/images/instagram/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  .heading{
    padding-top: 40px;
    color: white;
  }
  .container{
    padding-bottom: 40px;  
    a{   
      margin-top: 30px !important;
      border-color: $white !important;
    }
  }
  .container .row{
    display: flex;
    margin-top: 70px;
    @media screen and (max-width: $mobile){
      flex-direction: column;
      align-items: center;
    }
    .col{
      width: calc(960px / 6);
      text-align: center;
      @media screen and (max-width: $mobile){
        margin: 10px 0;
      }
      p{font-size: 1.2em; font-family: $medium;}
      i{
        font-size: 3rem;
      }
    }
  }
}

.instagram-cases{
  @include basic-container();
  .container{margin-top: 40px;}
  .instagram-cases-btn{
    margin-top: 40px !important;
  }
  .case{
    display: flex;
    margin-top: 70px;
    @media screen and (max-width: $mobile){
      flex-direction: column;
    }
    .preview{
      margin-right: 50px;
      width: 450px;
      @media screen and (max-width: $mobile){
        width: 100%;
        margin: 10px auto;
      }
      img{
        max-width: 400px;
      }
    }
    .case-info{
      width: 450px;
      @media screen and (max-width: $mobile){
        width: 100%;
      }
      h3{
        font-family: $heavy;
        font-size: 1.6em;
        margin: 0;
        margin-top: -7px;
        margin-bottom: 50px;
        @media screen and (max-width: $mobile){
          margin-top: 25px;
          margin-bottom: 30px;
        }
        a{
          background-color: transparent;
        }
      }
      .results{
        display: flex;
        flex-direction: column;
        position: relative;
        .row{
          display: flex;
          align-items: center;
          p{width: 40%; font-size: 1rem; margin: 10px 0; font-family: $medium;
            @media screen and (max-width: $mobile){
              width: 55%;
            }
          }
          b{width: 35%; text-align: right; font-size: 1.3rem; font-family: $heavy;}
        }
        .element{
          position: absolute;
          right: -80px;
          top: -60px;
          .arrow{
            font-size: 17.6rem;
            font-family: $thin;
            width: 150px;
            @media screen and (max-width: $mobile){
              display: none;
            }
          }
          .arrow-caption{
            position: absolute;
            font-family: $bold;
            font-size: 1.2rem;
            top: 54.5%;
            transform: rotate(90deg);
            @media screen and (max-width: $mobile){
              display: none;
            }
          }
        }
      }
    }
    &--left{
      .preview{
        order: 2;
        margin-right: 0;
        margin-left: 50px;
        @media screen and (max-width: $mobile){
          order: 0;
          margin-left: 0;
        }
      }
      .element{
          left: -80px !important;
          .arrow-caption{
            transform: rotate(-90deg) !important;
            left: -80px;
          }
        }
    }
    
  }
}

.instagram-cost{
  @include basic-container();
  background-image: url('./assets/images/instagram/2.png');
  background-size: cover;
  background-repeat: no-repeat;
  .heading{
    padding-top: 40px;
    color: white;
  }
  .container{
    text-align: center;
    color: $white;
    padding-bottom: 40px;  
    h1, h3, h4{margin: 0;}
    h3{font-size: 1.15rem; opacity: .7; margin-top: -5px;}
    h4{font-size: 1.5rem; margin-bottom: -15px;
      @media screen and (max-width: $mobile){
        margin-bottom: -7px;
      }
    }
    h1{font-size: 5rem;
      @media screen and (max-width: $mobile){
        font-size: 3rem;
      }
    }
    a{   
      margin-top: 30px !important;
      color: $white !important;
      border-color: $white !important;
      cursor: pointer;
    }
  }
}

.instagram-our{
  @include basic-container();
  .container{
    margin-top: 50px;
    h4{
      text-align: right;
      font-family: $heavy;
      font-size: 1.2rem;
      @media screen and (max-width: $mobile){
        text-align: center;
      }
    }
  }
  .items{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile){
      flex-direction: column;
      align-items: center;
    }
    .item{
      position: relative;
      &:hover{
        .hover{
          opacity: 1;
          z-index: 1;
        }
      }
      .hover{
        position: absolute;
        width: 100%;
        height: 98%;
        top: 0;
        left: 0;
        background-color: rgba($instagram, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        z-index: -1;
        transition: all 0.1s ease-in;
        a{
          background-color: transparent;
          color: $white;
          font-size: 5rem;
          font-weight: 100;
        }
      }
    }
  }
}

.instagram-clients{
  @include basic-container();
  .clients{
    text-align: center;
    padding-top: 40px;
    img{
      display: block;
      margin: 0 auto;
    }
  }
}

.instagram-form{
  .form-h{
    color: $instagram !important;
  }
  form{
    button{
      border-color: $instagram !important;
      &:hover{
        background-color: $instagram !important;
        color: $white !important;
      }
    }
  }
  span{
    b{
      color: $instagram;
    }
  }
}

.instagram-reviews{
  .info{
    background-color: $instagram;
    color: $white !important;
  }
}

.instagram{
  @include service-link($instagram);
    & > .container > a{
      @include button-default($instagram);
      max-width: 200px;
      margin: 0 auto;
      font-size: 0.9em;
      &:hover{
        color: $white !important;
      }
    }
}