.instagram-body{
  background: url('./assets/images/instagram/hero.png') 0% 0% no-repeat;
  background-size: cover;

  main .hero .cb-scroller{
    left: calc(50% - 60px);
    & svg path {
      fill: $instagram;
      stroke: #fff;
    }
  }

  main .hero{
      button{
        @include button-default($instagram); 
        width: 230px; color: $black; 
        background-color: $instagram;
        color: $white;
        position: relative;
        top: -6px;
      }

    h1{
      font-size: 2.06rem;
      padding: 8px 20px;
      color: $instagram2;
      background: $white;
    }
    h2{
        text-align: center;
        color: $black;
        background-color: $white;
        margin: 4px 130px;
        padding: 5px 10px;
    }
  }
}

.instagram-form{
  .form-h{
    color: $instagram !important;
  }
  form{
    button{
      border-color: $instagram !important;
      &:hover{
        background-color: $instagram !important;
        color: $white !important;
      }
    }
  }
  span{
    b{
      color: $instagram;
    }
  }
}

.instagram-reviews{
  .info{
    background-color: $instagram;
    color: $white !important;
  }
}

.instagram{
  @include service-link($instagram);
    & > .container > a{
      @include button-default($instagram);
      max-width: 200px;
      margin: 0 auto;
      font-size: 0.9em;
      &:hover{
        color: $white !important;
      }
    }
}