<div class="home-body">
  <div class="container">
    <header>
      <h1>ICG</h1>
      <p>DIGITAL AGENCY</p>
    </header>
    <main>
      <h1>РАЗВИВАЕМ ВАШ БИЗНЕС В ИНТЕРНЕТЕ</h1>
      <h2>И ФИНАНСОВО ОТВЕЧАЕМ ЗА РЕЗУЛЬТАТ</h2>
      <a routerLink="/services"><p>УСЛУГИ</p></a>
    </main>
    <footer>
      <div class="col col-1">
        <p>ООО "Ай-Си-Джи групп"</p>
        <p>УНП 192686750</p>
      </div>
      <div class="col col-2">
        <ul class="social">
          <li><a href="https://www.instagram.com/icg__by/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-instagram"></i>
          </a></li>
          <li><a href="https://vk.com/icg_by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-vk"></i>
          </a></li>
          <li><a href="https://www.facebook.com/icg.by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-facebook"></i>
          </a></li>
          <li><a href="https://behance.net/icg-by" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-behance"></i>
          </a></li>
        </ul>
      </div>
      <div class="col col-3">
        <p>MADE WITH <i class="fa fa-heart"></i> BY ICG TEAM</p>
        <p>&copy; ICG, 2016</p>
      </div>
    </footer>
  </div>
</div>